@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  box-sizing: border-box;
  --cor-fundo: #FB6B6B;
  --cor-fundo-card: #FFFFD4;
  --cor-nao-lembrei: #FF3030;
  --cor-quase-nao-lembrei: #FF922E;
  --cor-zap: #2FBE34;
  --preto: #333333;
  }

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: var(--cor-fundo);
  color: var(--preto);
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #DFE6ED;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
  margin: 0 auto;
  position: fixed;
  padding-top: 50px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 36px;
  color: white;
  font-family: "Righteous";
  z-index: 1;
  width: 375px;
  height: 100%;
  background-color: white;
  }